<footer>
    <div class="text-center">
        <h5 class="text-white">Follow Us</h5>
        <div class="d-flex flex-row justify-content-center">
            <span>
                <i class="fab fa-facebook-f"></i>
            </span>
            <span>
                <i class="fab fa-twitter"></i>
            </span>
            <span>
                <i class="fab fa-linkedin-in"></i>
            </span>
            <span>
                <i class="fab fa-instagram"></i>
            </span>
            <span>
                <i class="fab fa-pinterest-p"></i>
            </span>
        </div>
        <p>Copy Right &copy;2021 Devsland inc | All Rights Reserved.</p>
        <div class="top">
            <a href="#login"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
        </div>
    </div>
</footer>


<!-- Jquery.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap popper.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

<!-- Bootstrap.min.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- Font awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
    integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>

<!-- Custom JavaScript File -->
<script src="Js/main.js"></script>

</body>
<!-- ***************************** Footer *************************************** -->

</html>