<!-- ********************* Homepage ************************* -->
<div class="site-wrapper">
    <div class="container-fluid" id="home">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand ml-4" href="/api/v1/">
                <span style="font-size:17px;font-family:Pacifico;color:white;">DEVSLAND</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-center"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.twitter.com" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="/api/v1/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- *************************** Content 6 ************************************ -->
        <div class="d-flex justify-content-center">
            <div class="site-title">
                <h2>You have to login to register a
                    <span style="color:#EF233C;"> property.</span>
                </h2>
                <p class="title-text my-4">Welcome to devsland rental management system where all landlords manage
                    their properties easily.<br />Over 50 years of service.
                </p>
                <a href="/api/v1/register">
                    <button type="submit" class="btn-sub1 mx-3 my-4">Register property.
                        <span class="icon-over px-2">
                            <i class="fas fa-angle-up"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{{> footer}}