body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
/* ********** Header ************ */
.navbar-nav li a{
    font-size: 0.9em;
    margin: 0px 10px;
    color: #F7FFF7 !important;
}
.fa-align-center{
    color: #F7FFF7;
}
#navbarNav{
    padding-top: 0.8%;
}
/* ************** Main ********************* */
.site-wrapper{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    color: #F7FFF7;
}
.site-title{
    text-align: center;
    margin-top: 7%;
    height: 74vh;
}
.site-title h2{
    font-size: 3em;
    margin: 5% 0%;
}
.title-text{
    width: 50vw;
    height: 5vh;
    font-size: 0.8em;
    color: #F6F8FF;
}
.btn-sub1{
    font-family: 'Patua One';
    border: 1px solid #EF233C;
    background-color:#EDF2F4;
    color: #EF233C;
    border-radius: 3px;
    padding: 0.7em 1em;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn-sub2{
    font-family: 'Patua One';
    padding: 0.7em 1em;
    background-color: #EF233C;
    border:1px solid #EDF2F4;
    color: #EDF2F4;
    border-radius: 3px;
    cursor: pointer;
    transition: all 500ms ease;
}

/* ***************** Content 5 ********************** */
.content-5 .row{
    margin-top: 8%;
}
.content-5 .member-1 .avatar{
    margin: 20px 0px;
}
.content-5 .curcle{
    border-radius:100px;
    width: 35%;
    padding-top: 35px;
    position: relative;
    z-index: 4;
}
.content-5 .avatar span::after{
    content: "";
    width: 90%;
    height: 100px;
    background-color: #EDF2F4;
    position: absolute;
    display: block;
    top: 3px;
    z-index: 0;
}
.content-5 .member-1 .desc .info{
    padding-top: 8%;
    font-size: 14px;
}
.content-5 .social-icon{
    background-color: #EDF2F4;
    padding: 4%;
}
.content-5 .social-icon span{
    border: 1px solid rgba(123, 123, 123,0.2);
    padding: 4px 8px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 500ms ease;   
}

.content-5 .social-icon span:hover{
    background-color: #E30022;
    color: white;
    
}
/* ********************* Content 6 ********************** */
.content-6{
    margin-bottom: 5%;
}
.content-6 .contact span{
    color: #EF233C
}
.content-6 .contact{
    margin-bottom: 5%;
}
/* ******************** footer ************************** */
footer{
    padding-top: 4%;
    background-color: black;
    margin: 0px;
    position: relative;
}
footer span{
    padding: 0.3em 0.7em;
    color: white;
    background-color:#242423;
    border-radius: 50%;
    margin: 13px 3px;
    transition: all 500ms ease;
}
footer span:hover{
    color: #3F494C;
    background-color: white;
}
footer p{
    margin: 0px;
    color: #3F494C;
    font-size: 13px;
    padding-bottom: 8px;
}

.top a{
    position: absolute;
    right: 2%;
    top: 69%;
    color: #3F494C;
    transition: all 500ms ease;
}
.top a:hover{
    color: #F7FFF7;
}
/* ************ Border animation for Navbar ************* */

.border-animation::after{
    content: "";
    width: 0px;
    height: 3px;
    background-color: #EF233C;
    position: relative;
    display: block;
    top: 3px;
    transition: all 400ms ease;
}
.border-animation:hover::after{
    width: 100%; 
}
/* *********** Button animation of Homepage *************** */
.btn-sub1:hover{
    background-color: transparent;
    padding-right: 30px;
}
.fa-angle-right{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 500ms ease;
}
.btn-sub2:hover{
    border: 1px solid #EDF2F4;
    background-color: #352C31;
}
.fa-angle-double-right{
    -webkit-transform: rotate(0deg);
    transform: rotate(-deg);
    transition: all 500ms ease;
}
/* *********** sticky Navigation **************** */
.sticky{
    background-color:#60BAAE;
    transition: all 400ms ease;;
    padding: 0% 4%;
}
