.red {
    border: 1px solid red;
}
.green {
    border: 1px solid green;
}

.image-left {
    background-image: url("../images/background.jpg");
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    border-radius: 3px;
}